:host {
    .bt-new {
        width: 56px;
        height: 56px;
        background: #01579B;
        border-radius: 50%;
        box-shadow: 0 6px 6px #0000003d;
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
}