:host {
    .bt-new {
        width: 56px;
        height: 68px;
        //background: #01579B;
        background: url('/assets/bt-add-circle.png') no-repeat center;
        //border-radius: 50%;
        //box-shadow: 0 6px 6px #0000003d;
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
}