:host {
    .box-wrap {
        padding: 5px;
        margin-bottom: 10px;

        .sub-title {
            font-family: "Times New Roman";
            font-weight: bold;
            font-size: 17px;
            color: #616161;
            margin-bottom: 5px;
        }
    
        .box {
            background: #fff;
            padding: 10px;
            box-shadow: 0 3px 3px #0000003d;
            display: flex;
            flex-direction: column;

            .contact-row {
                display: flex;
                flex-wrap: wrap;

                .flex {
                    flex: 1
                }

                .bt-remove {
                    width: 20px;
                    height: 20px;
                    background: url(/assets/icon-cancel-circle.png) no-repeat center;
                }
            }

            .bt-save, .bt-add-contact {
                color: #009688;
                align-self: flex-end;
                font-family: Roboto;
                font-size: 14px;
            }
        }
    }
    .botton-safe {
        display: block;
        height: 60px;
    }
}